:root{
    --light-light-color:rgb(230, 228, 228);
    --light-color:rgb(225, 224, 224);
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 224, 224);
}

.body{
    margin-top: 5%;
    margin-left: 320px;
}
.bar{
    display: none;
}
#gain{
    color: green;
}
#loss{
    color: red;
}

#total-shares{
   color: gray;
   padding:0 5px;
}
#total-shares span{
    position: relative;
    float: right;
    right: 5px;
    color: black;
}
#balance{
    color: gray;
    padding: 0 5px;
}
#balance span{
    position: relative;
    float: right;
    right: 5px;
    color: black;
}
#table-section{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
  justify-content: space-around;
}
#market-container{
    width: 90%;
    display: flex;
    gap: 20px;
    padding: 4.85%;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    flex-wrap: wrap; /* This allows the items to wrap into multiple rows */
    justify-content: space-between; /* Distributes items evenly along the main axis */
    align-items: flex-start; 
}
.market{
    width: 200px;

    height: 100%;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: #f3f2f2;
}
.market:hover{
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);
}
.market .market-logo{
    width: 50px;
    height: 50px;
    padding: 20px;
    display: flex;
    
}
.market .market-logo img{
    width: 50%;
    height: 50%;
   margin: 0 5px;
}
#shares{
    width: 98%;
    color: #2f9c6c;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.shares-precentage{
    position: relative;
    top: 30px;
   float: right;
   right: 10px;
}
.intro-nav{
    background-color: #111010;
    color: #fff;
    width: 80%;
    margin: auto;
border-radius: 5px;
}
.intro-nav .invest{
    padding: 5%;
}
.intro-nav #title{
    color: grey;
    margin-top: -5px;
}
.invest #percentage{
    color: green;
    font-size: small;
    display: flex;
    float: right;

}
.logo{
    width: 75px;
    height: 75px;
    display: flex;
    margin: auto;
}
.logo span{
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
}
.logo img{
    width: 20%;
    height: 20%;
    margin: auto;
    padding-right:5px ;
}
.sidenav {
    height: 80%;
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 5%;
    margin-left:5% ;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
   
}
.links{
    padding: 20px;
}
.sidenav .links a {
    padding: 8px 10px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #111010;
    display: block;
}

.sidenav .links a:hover {
    background-color: rgb(224, 224, 224);
}

.main {
    padding: 0 20px;
}
#search-section{
  padding: 30px;
 border-top-right-radius: 10px;
    background-color: #fff;
}
.user-settings{
    position: absolute;
    width: 300px;
    display: flex;
   align-items: center;
    margin-top: -40px;
left: 75%;
   gap: 20px;
}
.user-settings img{
    width: 30px;
    height: 30px;
    margin-left: 40px;
    border-radius: 50%;
}
/* input search part  */
.search-container{
    background-color: var(--light-light-color);
    padding: 7px;
    width: fit-content;
    border-radius: 5px;
}
.search-container .search{
    width: 400px;
    border: none;
    background-color: var(--light-light-color);
}
.search-container .search:focus{
    outline: none;
}
/* table  */
/* Apply a clean, modern font to the table */
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    
  }
  /* Style the table header */
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: left;
    padding: 12px;
  }
  
  /* Style the table rows */
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Alternate row colors for better readability */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Highlight positive values in green and negative values in red */
  td.positive {
    color: green;
  }
  
  td.negative {
    color: red;
  }
  #news{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 40px;
    margin: 40px;
    border-radius: 10px;
  }
  .news{
  width: 30%;
  padding: 10px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
text-align: center;
  }
  .news img{
    width: 300px;
    height: 200px;
  }
  /* footer */
  /* Reset default margin and padding for the footer */
footer {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Style the footer content section */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Style the footer logo */
.footer-logo img {
    width: 100px; /* Adjust the width as per your logo's size */
}

/* Style the footer information section */
.footer-info {
    flex: 1;
    text-align: center;
}
.footer-info a{
    text-decoration: none;
    color: black;
}

/* Style the footer links section */
.footer-links {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  /* Style for the sponsor images */
  .sponsor-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .sponsor-images img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Add spacing between images */
  }
.copyright{

  text-align: center;
  font-size: 10px;
  color: gray;
  padding: 5px;
}
.copyright a{
    color: rgb(76, 76, 76);
}

/* note */
.note-container {
    max-width: 210px;
    height: 500px;
    padding: 20px;
    background-color: #dbd64b;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 5%;
}
.note-activation{
    display: flex;
}
.note-activation input[type="text"] {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', monospace;
    font-size: 16px;
    line-height: 1.6;
}

.note-activation button {
    
    margin:0 10px;
  
    background-color: #dbd64b;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.note-activation button:hover {
    background-color: #b8b43d;
}

#notesContainer {
    margin-top: 20px;
    background-image: url("picture/notes.png");
    background-repeat: no-repeat;
    background-size: 125%;
  width: 100%;
    height: 310px;
    text-align: left;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    line-height: 1.6;

    max-height: 310px;
    overflow: auto;
}
.mobile-container{
    display: none;
}
/* responsive */
@media (max-width: 768px) {
    .bar{
        display: block;
        background-color: lightgray;
        padding: 8px 10px ;
        z-index: 11;
        color: #000;
     box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 50%;
    }
    #news{
        width: 100%;
        margin: 0;
        display: block;
    }
    .news{
        width: 90%;
        margin: 10px;
    }
    .news img{
      width: 200px;
      height: 200px;
      }
    #table-section{
        width: 110%;
        margin: auto;
        display: block;
    }
    #table-section table{
        margin: 20px;
    }
    #market-container{
        width: 110%;
    }
   .market{
    font-size: smaller;
    padding: 5px;
    width: 180px;
   }
    #header{
        font-size: 15px;
    }
    #search-section{
        border: 1px solid rebeccapurple;
        width: 100%;
        padding: 10px 5px 10px 50px;
    }
    .search-container .search{
       width: 150px;
       padding: 0;
    }
    #user-account-text{
        display:none;
    }
    .user-settings{
        margin-top: -30px;
        width: 50px;
    }
    .user-settings img{
        margin: 0;
    }

#shares{
    height: 250px;
    padding: 0;
}
    .note-container{
        display: none;
    }
    .sidenav{
        display: none;
    }
    .mobile-container {
        display: none;
        height: 60%;
        width: 200px;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        padding-top: 5px;
        margin-top: 5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    }

    .links{
        padding: 5px;
    }
    .mobile-container .links a {
        padding: 8px 10px 8px 20px;
        text-decoration: none;
        font-size: 15px;
        color: #111010;
        display: block;
    }
    
    .mobile-container .links a:hover {
        background-color: rgb(224, 224, 224);
    }
.logo{
    width: 50px;
    height: 50px;
    display: flex;
    margin: auto;
}
.logo span{
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
}
.logo img{
    width: 20%;
    height: 20%;
    margin: auto;
    padding-right:5px ;
}
.intro-nav{
    background-color: #111010;
    color: #fff;
    width: 80%;
    /* margin: auto; */
border-radius: 5px;
}
.intro-nav .invest{
    padding: 5%;
}
.intro-nav #number{
    font-size: 12px;
}
.intro-nav #title{
    color: grey;
    font-size: 10px;
    /* margin-top: -5px; */
}
.invest #percentage{
    color: green;
    font-size: 8px;
    display: flex;
    float: right;

}
.body{
    margin: 0;
}
.main{
    padding: 0;
}
footer{
    width: 120%;
}
.footer-content{
    display: block;
}
.sponsor-images {
    width: 100%;
    flex-wrap: wrap;
}
}

